.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0px 30px;
  margin-left: 30px;
  border-left: 1px dashed #ff000091;
}

.containerDark {
  background-color: #242424;
}

.content {
  padding: 0px 0px 50px;
  position: relative;
  z-index: 1;
  width: fit-content;

  h1 {
    width: fit-content;
    position: relative;
    user-select: none;

    &::before {
      content: "popstats";
      position: absolute;
      overflow: hidden;
      color: red;
      height: 0%;
      transition: height 0.3s 0.15s ease-out;
      transform-origin: left;
    }
  }
}

.content h1:hover::before,
.content:has(.demoLink:hover) h1::before {
  height: 100%;
  transition: height 0.3s ease-out;
}

.demoLink {
  position: relative;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;
  font-family: Trap;
  background: rgb(161, 161, 161);
  color: black;
  border-radius: 25px;
  padding: 10px 20px;
  background-image: linear-gradient(#c9c9c9, #c9c9c9 50%, red 50%, red);
  background-size: 100% 200%;
  transition:
    background-position 0.1s,
    transform 0.1s,
    color 1s ease-out,
    box-shadow 0.2s ease-out;

  span {
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    transform: translate(-50%, -50%);
  }
}

.demoLink:hover,
.content h1:hover ~ div .demoLink {
  transform: scale(1.1);
  box-shadow:
    rgba(255, 0, 0, 0.276) 0px 4px 16px,
    rgba(255, 0, 0, 0.276) 0px 8px 24px,
    rgba(255, 0, 0, 0.276) 0px 16px 56px;

  &::before {
    background-color: red;
  }

  span {
    color: white;
  }
}

.demoLink:hover {
  transition:
    transform 0.1s,
    box-shadow 0.2s ease-out;

  &::before {
    transition: background-color 0.2s;
  }

  span {
    transition: color 0.2s;
  }
}

.content h1:hover ~ div .demoLink {
  transition:
    transform 0.1s 0.25s,
    color 0.3s ease-out,
    box-shadow 0.2s 0.25s ease-out;

  &::before {
    transition: background-color 0.2s 0.25s;
  }

  span {
    transition: color 0.2s 0.25s;
  }
}

.demoLink + .demoLink {
  margin-left: 20px;
}

.logo {
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  transform: translateX(50%);
  margin-top: auto;
  margin-bottom: auto;
}

.aboutText {
  font-family: Trap;
  border-bottom: 1px solid;
}
